@charset "utf-8";
html , body{
    height: 100%;
    font-family: 'Grandstander', cursive, Courier, monospace;
}
*{
    margin: 0;
    padding: 0;
}
.lateral{
    width: 20%;
    height: 100%;
    background-color: black;
}
.poslateral{
    position: relative;
    top: 25%;
    transform:translateY(-50%);
}
.foto img{
    width: 80%;
    border:8px solid gray;
    border-radius: 40%;
}
.foto{text-align: center;}
