@charset "utf-8";
html , body{
    height: 100%;
    font-family: 'Grandstander', cursive, Courier, monospace;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inicio{
    display: flex;
}
.lateral{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: black;
}
.lateral h1,p.menu{
    color: white;
    text-align: center;
    margin-bottom: 5px;
    transform:translateX(4%);
}
.poslateral{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
}
.foto img{
    width: 80%;
    min-width: 105px;
    border:3px solid gray;
    border-radius: 40%;
}
.foto{text-align: center;}
.content{
    position:absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y:auto;
    padding:0 3%;
    background-image: url('../img/fundo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 20%;
}

section.descricao{
    position: relative;
    top:40%;
    transform:translateY(-50%);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.form{
    padding: 10px;
    width: 400px;
    height: 500px;
    position: relative;
    top: 30%;
    float: right;
    border-width: 12px;
    border-color: #6e6e6e ;
    border-style: solid;
    background-color: rgb(29, 29, 29);
    background-clip: padding-box;
    /*background-origin tem o mesmo conceito porém serve para imagens.*/
}
.form h2{
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 21px;
}
.input-container{
    margin-top: 20px;
}
.input-container span{
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 17px;
}
.form p{
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin: 20px 0;
}
.input-container input{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ddd;
}
.form .input-submit-container{
    text-align: center;
}
.form input[type=submit]:hover{
	background-color: #323665;
}
.form input[type=submit]{
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: #b8b8b8;
    width: 280px;
    height: 56px;
    display: inline-block;
    border-bottom:5px solid #ffffff ;
    cursor:pointer;
    box-shadow: 3px 3px 10px black;
}
@media screen and (max-width: 880px){
    .form{
        top: 35%;
    }
}